@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=New+Amsterdam&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


.mobile_responsiveness {
    display: none;
}

/* Styles for very small mobile devices */
@media (max-width: 768px) {
    * {
        font-family: "Poppins", sans-serif;
        margin: 0;
        padding: 0;
    }
    body {
        padding: 0px;
        margin: 0px;
        overflow-x: hidden !important;
    }

    /* Hero section coding starts */
    .hero_section {
        height: 45vh;
        overflow-x: hidden !important;
        /* padding-left: 40px; */
        text-align: center;
    }

    /* header style */
    .top_navbar {
        background-color: purple;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100% !important;
        height: 11vh;
        overflow: hidden;
    }

    .bottom_navbar {
        display: none;
    }

    .mobile_responsiveness {
        display: block;
        width: 100%;
        /* background-color: orange; */
        width: 100% !important;
        overflow: hidden;
        height: 12vh;
    }

    .mobile_responsiveness>section {
        display: flex;
        justify-content: center;
        /* align-items: space-around !important; */
        height: 100%;
        padding: 0px 10px 0px 10px;
        gap: 40px;
    }

    .mobile_responsiveness>section>div {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 20px;
    }

    .mobile_responsiveness>section>div>img {
        width: 20%;
        height: 70%;
    }

    .mobile_responsiveness>section>section {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;

    }

    .mobile_responsiveness>section>section>i {
        font-size: 34px;

    }

    .mobile_responsiveness_bottom_navbar {
        top: 20%;
        position: absolute;
        height: 55vh;
        width: 270px;
        right: 0%;
        /* background-color: #007cd6; */
        background-color: white;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        padding: 10px;
    }

    .mobile_responsiveness_bottom_navbar.active {
        visibility: visible;
    }

    .mobile_responsiveness_bottom_navbar>a {
        text-decoration: none;
        color: black;
        font-size: 20px;
        flex: 1;
        /* background-color: yellow; */
        display: flex;
        justify-content: left;
        padding-left: 20px;
        align-items: center;
        border-bottom: 1px solid #007cd6;
    }

    .mobile_responsiveness_bottom_navbar>a:nth-last-child(1) {
        border-bottom: none;
    }

    /* Style for the menu links */
    .menu-item {
        position: relative;
        display: inline-block;
        color: #333;
        /* Set the text color */
        text-decoration: none;
        padding-left: 20px;
        /* Space for the arrow icon */
        transition: color 0.3s ease;
    }

    /* Style for the Font Awesome icon */
    .menu-item i {
        position: absolute;
        left: 0;
        opacity: 0;
        transform: translateX(-10px);
        /* Position the icon off-screen to the left */
        transition: transform 0.3s ease, opacity 0.3s ease;
        /* Smooth transition for the icon */
    }

    /* On hover, reveal and slide in the icon */
    .menu-item:hover {
        color: #007cd6;
    }

    .menu-item:hover i {
        opacity: 1;
        transform: translateX(0);
        /* Slide the icon into place */
        color: #007cd6;
    }

    /* navbar section coding ends here */

    /* Services Section Starts */
    .services_section {
        height: 90vh;
        border-bottom: 1px solid gray !important;
        overflow-x: hidden !important;
    }

    .services_subsection_content {
        display: flex;
        flex-direction: column;
    }

    .services_subsection_content>section {
        flex: 1;
        width: 100%;
    }

    /* work done container starts */

    .work_done_container {
        overflow-x: hidden !important;
        height: 195vh;
        box-sizing: border-box !important;
        border-bottom: 1px solid gray;
        padding-bottom: 50px !important;
    }

    .work_done_subcontainer_header {
        height: 10vh;
    }

    .work_done_subcontainer_content {
        height: 170vh;
        display: block;

    }

    .work_done_subcontainer_content_first {
        height: 85vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        margin-bottom: 30px;
    }

    .work_done_subcontainer_content_first>section {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: left;
    }

    .work_done_subcontainer_content_second {
        height: 85vh;
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .work_done_subcontainer_content_second>section {
        flex: 1;
        width: 100%;
        display: flex;
        align-items: end;
        justify-content: left;
    }

    /* contact_form_container section */
    .contact_form_container {
        height: 105vh;
        overflow-x: hidden !important;
    }

    .contact_form_subcontainer {
        height: 100%;
        width: 94%;
        margin: 0 auto;
    }

    .contact_form_subcontainer_header {
        height: 13vh;
        display: flex;
        justify-content: left;
        align-items: end;
        width: 100%;
        padding-top: 20px;
    }

    .contact_form_subcontainer_content {
        /* background-color: purple; */
        height: 50vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .contact_form_subcontainer_content_first {
        display: none;
    }

    .contact_form_subcontainer_content_second {
        flex: 1;
        width: 100%;
    }

    .subcontainer_content>div {
        height: 100%;
        overflow: scroll;
    }

    .contact_form_subcontainer_content_second>form {
        height: 60vh;
        width: 100%;
        margin-top: 10px;
        padding: 20px;
    }

    .contact_form_subcontainer_content_second>form>section {
        width: 100%;
        height: 70px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .first_div {
        width: 100%;
        height: 18vh !important;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .first_div>section {
        flex: 1;
        width: 100%;
    }

    .first_div_input {
        height: 40px !important;
    }

    .mobile_responsive_contact_container {
        display: block;
        margin-top: 60px !important;
    }

    .form_submit_btn {
        margin-left: 30%;
        margin-top: 4%;
    }

    /* Faqs section coding here */

    .faqs_section {
        height: 78vh;
        overflow-x: hidden !important;
    }


    .subcontainer_content {
        height: 60vh;
        overflow-x: hidden;
        background-color: antiquewhite;
    }


    /* footer section starts */
    .footer_section {
        margin-top: 0px;
        height: 80vh;
        background-color: #27232d;
        overflow-x: hidden !important;
    }

    .footer_subsection {
        background-color: #27232d;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }

    .footer_subsection_first {
        background-color: #27232d;
        height: 40%;
        width: 100%;
        color: white;
    }

    .footer_subsection_first>div {
        height: 120px;
        width: 180px;
        margin-top: 10px;
        margin-left: 140px;
    }
    .footer_subsection_first > p{
        padding: 10px;
        font-size: 14px;
        text-align: center;
    }
    

    .footer_subsection_second {
        width: 100%;
        height: 58%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .footer_subsection_second_one {
        padding: 0px !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .footer_subsection_second_one>h5 {
        margin-left: 30px;
        margin-top: 20px;
    }

    .footer_subsection_second_one>ul {
        width: 100%;
        height: 100%;
        margin-left: 30px;
    }

    .footer_subsection_second_two {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer_subsection_second_two>h5{   
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 20px;
        font-size: 22px;
    }
    

    .footer_subsection_second_two>ul {
        width: 90%;
        height: 40%;
        padding-bottom: 30px !important;
        margin-left: 0px;
        margin-top: 0px;
        /* background-color: orange; */
        padding: 0px;
    }

    .footer_subsection_second_two > ul > li:nth-child(1){
        margin-top: 12px;
    }

    .footer_subsection_second_three {
        display: none;
    }

    .footer_mobile_responsiveness {
        display: block;
    }

    .footer_subsection_third {
        height: 10vh;
        margin-bottom: 20px;
        background-color: cyan;

    }

    .whatsapp-icon {
        position: fixed;
        bottom: 120px;
        right: 80px;
        width: 50px;
        height: 50px;
        z-index: 1000;
        display: inline-block;
    }

}



/* Styles for small mobile devices like iPhone SE */
/* @media (max-width: 375px) {
    
  } */

/* Styles for larger small mobile devices */
/* @media (max-width: 480px) {
    
  } */

/* Styles for medium mobile devices, like tablets in portrait mode */
/* @media (max-width: 768px) {
    
  }  */